# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.md.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Grzesiu\RiderProjects\md\.idea\.idea.md\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
